template(name="parallax2")
    // Parallax
    .parallax-container
        .parallax

            // #img-fire TODO: kan inte ha 2 sådan id
            // TODO: Compressa alla stora bilder
            img.scrollfire(src='img/p7.jpg')