template(name="hero")
    #index-banner.section.no-pad-bot.white.valign-wrapper
        .row
            .center
                // Switch to b5 for black theme
                img.responsive-img#ydb-logo(src="img/b2.png")
            h1.center
                a(href='#intro').black-text
                    i.mdi-navigation-arrow-drop-down-circle.read-more
            h5.center
                // Theme switching
                | Don't push this button
                // Soundcloud play
                | PLAY
