template(name="parallax")
    // Parallax
    .parallax-container
        .parallax
            // TODO: COmpress
            img#img-fire.scrollfire(src='img/p3.jpg')
    // TODO: DB? Img + text
    h6.center Sir Preybird (&copy; 2012). Logo by Maria Jonsson.