nav {
  font-family: 'Open Sans', 'Roboto', sans-serif;
}

nav ul a {
  font-size: 1.5rem;
  display: block;
  padding: 0px 15px;
  letter-spacing: 2px;
  text-shadow: 0 0 5px white;

  &:hover {
    text-shadow: -0 0 35px white !important;
  }
}

#sign-out {
  position: fixed;
  right: 10px;

}

@keyframes glow {
  from  {
    text-shadow: 1px 0 5px white !important;
    letter-spacing: 12px !important;

  }
  to {
    text-shadow: -0 0 25px #f44336 !important;  // material-red TODO
    letter-spacing: 13.5px !important;
  }
}



.brand-logo{
  display: inline-block;
  font-weight: bold;
  font-size: 3.3rem !important;
  //text-shadow: 0 0 5px #ff0000 !important; // material-red TODO
  //letter-spacing: 12px !important;
  //transition: text-shadow 1s cubic-bezier(0.22, 0.61, 0.36, 1);
  // TODO: prefix away with compass
  animation-name: glow;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  &:hover {
    //text-shadow: 0 0 5px #f44336 !important;
  }
}

@keyframes play-mini {
  from  {
    font-weight: 100 !important;

  }
  to {
    font-weight: 900 !important;
  }
}

// TODO: refactor

.toggle {
  color: red !important;
  text-shadow: none !important;
}

.toggle.toggle-back {
  color: yellow !important;
  animation-name: play-mini;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}