nav {
  font-family: 'Open Sans', 'Roboto', sans-serif;
}

nav ul a {
  font-size: 1.5rem;
  display: block;
  padding: 0px 15px;
  letter-spacing: 2px;
}

#sign-out {
  position: fixed;
  right: 10px;
}

.brand-logo{
  display: inline-block;
  font-weight: bold;
  font-size: 3rem;
  text-shadow: 0 0 5px white;
  letter-spacing: 7px;
}

